body{
    background-color: #181818;
    font-family: chicle;
    
}
.web-menu{
    display: none;
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width:70px;
    height: 70px;
    background-color:#fefae0;
    border-radius: 25px;
    padding: 10px;
    margin: 16px;
    display: flex;
    justify-content: center;
}
.logo:hover{
    background-color:#606c38 ;
    .real-logo{
    filter: brightness(0%) saturate(100%) invert(97%) sepia(5%) saturate(1350%) hue-rotate(328deg) brightness(105%) contrast(99%);
}
}
li{
    list-style: none;
    background-color:#606c38;
    color: #fefae0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin: 16px;
    padding: 16px;
    height: 70px;
    align-items: center;
    text-align: center;
    border-radius: 50px;
}
.socials{
    display: flex;
    justify-content: space-between;
    img{
        width: 70px;
        padding: 0;
    }
}

p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
div{
    
     border-radius: 50px;
     
     
     
}
.one{
   color: #fefae0;
   margin: 16px;
  background-image: url(front-img.png);
  background-repeat: no-repeat;
  border-radius: 50px;
  border-bottom-right-radius:200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-size: cover;
  height: 500px;
  
  
}
.star{
    width: 90px;
    display: flex;
    align-items: flex-end;
}

h1{
  font-size: 110px;
  text-align: center;
}

h2{
    font-size: 60px;
}
.two{
        background-color: #fefae0;
        color:#283618;
        padding: 16px;
        width: fit-content;
        height: fit-content;
         margin: 16px;
     }

.three{
    color:#fefae0;
    margin: 16px;
    img{
        width: 100%;
    }
}
.four{
color:#283618;
background-color: #606c38;
height: 350px;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
margin: 16px;
 border-top-left-radius: 200px;

}
     @media only screen and (min-width: 992px) {
        .head,  .menu{
            display:none;
        }
       
        .web-menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
           
            ul{
                 margin: 20px 0;
                padding:0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                li{
                    font-size: 30px;
                    margin: 0 16px;
                    padding: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 50px;
                }
                .green:hover{
                    background-color:#fefae0;
                    color: #606c38 ;
                }
                .real-logo{
                    width: 70px;
                    height: 70px;
                    border-radius: 25px;
                    padding: 10px;
                    margin: 0;
                  
                }
                .socials{
                    display: flex;
                justify-content: space-between;
                background-color: #272727;
                gap: 3vw;
                
                }
                .socials:hover{
                    background-color: #fefae0;
                    img{
                    filter: brightness(0) saturate(100%)invert(13%) sepia(0%) saturate(5%) hue-rotate(143deg) brightness(101%) contrast(94%);
                }
                }
            }
        }
        .web-logo{
            background-color: #fefae0;
            height: 50px;

        }
        .web-logo:hover{
            background-color:#606c38 ;
            .real-logo{
            filter: brightness(0%) saturate(100%) invert(97%) sepia(5%) saturate(1350%) hue-rotate(328deg) brightness(105%) contrast(99%);
        }
        }
        .content{   
            display: flex;
        }

        .one{
            min-width: 50vw;
            height: 80vh;
            
        }
        .right{
         display: flex;
         flex-direction: flex-start;
         flex-wrap: wrap;
         
         
        }
        .two, .three, .four{
           min-width: 25vw;
           max-width: 50vw;
           
        }

        h2{
            margin: 0;
        }
        
    }
     